@import "../../themes/mixin.less";

.editable_box {
  position: relative;

  .user_name {
    color: @nb-blue;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 1.8;
    font-size: 32px;
  }
}

.editable {
  font-size: 32px;
  color: #666;
  line-height: 1.8;
  min-height: e('calc(100vh - 150px)');
  border: 1px solid #ddd;

  img {
    width: 100%;
    // margin-bottom: 30px;
  }

  iframe[name=audio] {
    height: 0.8rem !important;
    margin: 0.2rem 0 !important;
  }

  a {
    color: @nb-blue;
  }
}

.opt_box {
  display: flex;
  height: 1.5rem;
  justify-content: space-around;
  align-items: flex-end;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: auto;
  z-index: 2001;
}
