@import "../../../themes/mixin.less";

.content_box {
  position: relative;

  video {
    width: 100%;
    height: 100vw;
    object-fit: fill;
  }

  .cover {
    width: 100%;
    height: 100vw;
    object-fit: cover;
    object-position: 50% 50%;
    display: block;
  }
}

.info_box {
  font-size: 28px;
  padding: 30px;
  line-height: 2;

  :global {
    dl, dt, dd {
      margin: 0;
    }
  }

  .practice {
    dt {
      flex: none;
    }
    dd {
      flex: 1;
    }
  }

  .description {
    position: relative;

    &.hidden {
      max-height: 2.2rem;
      overflow: hidden;
    }

    .unfold_box {
      position: absolute;
      left: 0;
      right: 10px;
      top: 1.75rem;
      display: flex;
      justify-content: flex-end;

      &::before {
        content: '';
        display: block;
        height: 44px;
        position: absolute;
        left: 0;
        right: 44px;
        bottom: 0;
        background: linear-gradient(to right, rgba(255,255,255,0), #fff);
      }

      :global {
        .am-icon {
          background-color: #fff;
        }
      }
    }
  }
}

.course_box {
  padding: 30px;

  .title {
    color: @nb-blue-light;
    font-size: 32px;
    margin-bottom: 30px;
  }

  .flex_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    margin-bottom: 60px;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top:0;
      bottom:0;
      width: 4px;
    }

    &.practice:before {
      background-color: @nb-blue-light;
    }

    &.master:before {
      background-color: #FFCA28;
    }
  }

  .left_box {
    flex: 1;
    display: flex;

    .thumb_box {
      margin-right: 30px;

      .thumb {
        width: 120px;
        height: 120px;
        object-fit: cover;
        object-position: 50% 50%;
      }
    }

    .info {
      line-height: 1.5;

      .name {
        display: block;
        font-size: 32px;
      }

      .author {
        display: block;
        color: #999;
        font-size: 28px;
        max-height: 80px;
        overflow: hidden;
      }
    }
  }

  .download_box {

    .download {
      color: #999;
      font-size: 28px;
      padding: 0 25px;
      height: 70px;
      line-height: 70px;
      border: 1px solid currentColor;
      border-radius: 50px;

      :global {
        .am-icon-md {
          width: 28px;
          height: 28px;
        }
      }
    }
  }

}
