@import "../../../themes/mixin.less";

.content {
  padding: 30px;
}

.right_box {
  width: e("calc(100vw - 172px)");
}

.top {
  height: 88px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .name_box {
    display: flex;
    justify-content: space-between;

    .name {
      font-size: 32px;
    }

    .date {
      font-size: 28px;
      color: @nb-gray-light;
    }
  }
}

.middle {
  margin-bottom: 40px;

  .title {
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 24px;
  }

  .text {
    font-size: 32px;
    color: #666;
    line-height: 1.8;

    img {
      width: 100%;
    }

    a {
      color: @nb-blue;
    }
  }
}

.bottom {

  .label_box {
    margin-bottom: 40px;

    .cname {
      display: inline-block;
      color: #aaaeb3;
      padding: 4px 20px;
      border-radius: 8px;
      background-color: #e3e3e3;
    }

    .label {
      color: #7b828b;
      padding-left: 24px;
      line-height: 1.8;
    }
  }
}
