@import "./mixin.less";
@import "./vars.less";

:global {
  .flex-box {
    display: flex;
  }

  a {
    color: #fff;
  }

  ul {
    list-style: none;
  }

  .am-navbar-right {
    position: relative;
  }
}
