@import "./mixin.less";
@import "./vars.less";

:global {
  .flex-box {
    display: flex;
  }

  .flex-item {
    flex: 1;
  }

  a {
    color: #fff;
  }

  ul {
    list-style: none;
  }

  .am-navbar-dark {
    transition: background-color .25s ease;
    transition-delay: .25s;
  }

  .am-navbar-right {
    position: relative;
  }

  .content {
    margin-top: 88px;
  }
}
